<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>sprite1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {7, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{7, 79}</string>
			<key>spriteSourceSize</key>
			<string>{7, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{57, 143}, {7, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 30}, {37, 62}}</string>
			<key>spriteOffset</key>
			<string>{1, -11}</string>
			<key>spriteSize</key>
			<string>{37, 62}</string>
			<key>spriteSourceSize</key>
			<string>{45, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 143}, {37, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 34}, {37, 58}}</string>
			<key>spriteOffset</key>
			<string>{1, -13}</string>
			<key>spriteSize</key>
			<string>{37, 58}</string>
			<key>spriteSourceSize</key>
			<string>{45, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{111, 0}, {37, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 35}, {36, 56}}</string>
			<key>spriteOffset</key>
			<string>{1, -13}</string>
			<key>spriteSize</key>
			<string>{36, 56}</string>
			<key>spriteSourceSize</key>
			<string>{42, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 0}, {36, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 34}, {37, 58}}</string>
			<key>spriteOffset</key>
			<string>{1, -13}</string>
			<key>spriteSize</key>
			<string>{37, 58}</string>
			<key>spriteSourceSize</key>
			<string>{45, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 0}, {37, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 36}, {34, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -14}</string>
			<key>spriteSize</key>
			<string>{34, 56}</string>
			<key>spriteSourceSize</key>
			<string>{42, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 124}, {34, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 38}, {36, 52}}</string>
			<key>spriteOffset</key>
			<string>{1, -14}</string>
			<key>spriteSize</key>
			<string>{36, 52}</string>
			<key>spriteSourceSize</key>
			<string>{42, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 207}, {36, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {7, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{7, 79}</string>
			<key>spriteSourceSize</key>
			<string>{7, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {7, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 62}</string>
			<key>spriteSourceSize</key>
			<string>{16, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{39, 143}, {16, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 58}, {32, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -23}</string>
			<key>spriteSize</key>
			<string>{32, 30}</string>
			<key>spriteSourceSize</key>
			<string>{38, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 180}, {32, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 37}, {58, 54}}</string>
			<key>spriteOffset</key>
			<string>{1, -14}</string>
			<key>spriteSize</key>
			<string>{58, 54}</string>
			<key>spriteSourceSize</key>
			<string>{62, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 60}, {58, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 34}, {64, 60}}</string>
			<key>spriteOffset</key>
			<string>{1, -14}</string>
			<key>spriteSize</key>
			<string>{64, 60}</string>
			<key>spriteSourceSize</key>
			<string>{68, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 81}, {64, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 36}, {61, 58}}</string>
			<key>spriteOffset</key>
			<string>{1, -15}</string>
			<key>spriteSize</key>
			<string>{61, 58}</string>
			<key>spriteSourceSize</key>
			<string>{63, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{9, 0}, {61, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 30}, {52, 62}}</string>
			<key>spriteOffset</key>
			<string>{2, -11}</string>
			<key>spriteSize</key>
			<string>{52, 62}</string>
			<key>spriteSourceSize</key>
			<string>{56, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 60}, {52, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 29}, {44, 62}}</string>
			<key>spriteOffset</key>
			<string>{1, -10}</string>
			<key>spriteSize</key>
			<string>{44, 62}</string>
			<key>spriteSourceSize</key>
			<string>{48, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 116}, {44, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.4</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>newSpawn</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>newSpawn</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>